doctype html 
html
    head
        meta(charset='utf-8')
        title Movie Page
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
        link(rel="stylesheet", href='../style.css')
        link(rel="stylesheet", href='../moviePage.css')
    body
        .header
            include header.pug 
        h2 
            a(href=`/movie/${Result.movieID}`)=Result.title
        img(src=`${Result.rtPicURL}`)
        br
        div(class="Center")
            h6(id='favorite-movie')
                form(action=`/favorite/${Result.movieID}` method="post" style="padding-left:100px; width: 100%")
                    button(type="submit") Favorite!
        h5 Comments:
            if Result.comments != 0
                each comment in Result.comments
                    li(class='center')=comment  
            else
                h4 No Comments Made
        h3 Rating: 
            if Result.ratings != 0
                each rating in Result.ratings
                    li(class='center')=rating  
            else
                h4 No Ratings Listed
        h3 Genre:
            if Result.genres != 0
                each genre in Result.genres
                    li(class='center')=genre  
            else
                h4 No genre Listed
        h3 Location:
            if Result.locState != null 
                h4=Result.locState
            else
                h4 Not listed    
            if Result.locCity != null 
                h4=Result.locCity
            else
                h4 Not listed
            if Result.locLocal != null 
                h4=Result.locLocal
            else
                h4 Not listed
        h3 Country Released:
            if Result.locCountry != null 
                h4=Result.locCountry
            else
                h4 No country
        h3 Year Released:
            if Result.year != null 
                h4=Result.year
            else
                h4 No year         
        h3 Director:
            if Result.dName != null 
                h4=Result.dName
            else
                h4 No Director
        h3 Actors:
            if Result.actors != 0
                each actor in Result.actors
                    li(class='center')=actor  
            else
                h4 No Actors Listed
        h3 Rotten Tomatoes Audience Reviews:
            if Result.rtAudienceNumReviews != null 
                h4=Result.rtAudienceNumReviews
            else
                h4 No Reviews 
        h3 Rotten Tomatoes Audience Rating:
            if Result.rtAudienceRating != null 
                h4=Result.rtAudienceRating
            else
                h4 No Rating 
        h3 Rotten Tomatoes Top Critic Reviews:
            if Result.rtTopCriticsNumReviews != null 
                h4=Result.rtTopCriticsNumReviews
            else
                h4 No Reviews
        h3 Rotten Tomatoes Top Critic Rating: 
            if Result.rtTopCriticsRating != null 
                h4=Result.rtTopCriticsRating
            else
                h4 No Rating
        h3 Rotten Tomatoes All Critic Reviews: 
            if Result.rtAllCriticsNumReviews != null 
                h4=Result.rtAllCriticsNumReviews
            else
                h4 No Reviews
        h3 Rotten Tomatoes All Critic Rating:
            if Result.rtAllCriticsRating != null 
                h4=Result.rtAllCriticsRating
            else
                h4 No Rating
                
        input(type="text" name="param" placeholder="Search Parameters" style="padding-left:20px; width: 30%;")
        button(type="submit") Create Comment    

        script.
            const Result = !{jsStringify(Result)};
        script(src="../moviePage.js")