doctype html 
html
    head
        meta(charset='utf-8')
        title Search
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
        link(rel="stylesheet", href='../style.css')
    body
        .header
            include header.pug 
        h2 
            a(href=`/movie/${Result.movieID}`)=Result.title
        button(type="submit") Favorite
        img(src=`${Result.imgURL}`)

        h5 Comments:
                    each comm in Result.comments
                        if comm != null
                            ol 
                                h4=comm
                        else 
                            h6 No comments are commented
        h3 Rating: 
         each rating in Result.ratings
                if rating != null
                    ol
                        h4=rating
                else
                    h4 No Rating
        h3 Genre:
            each genre in Result.genres
                if genre != null
                    ol
                        h4=genre
                else
                    h4 No Genre
        h3 Location:
            if Result.locState != null 
                h4=Result.locState
            else
                h4 Not listed    
            if Result.locCity != null 
                h4=Result.locCity
            else
                h4 Not listed
            if Result.locLocal != null 
                h4=Result.locLocal
            else
                h4 Not listed
        h3 Country Released:
            if Result.locCountry != null 
                h4=Result.locCountry
            else
                h4 No country
        h3 Year Released:
            if Result.year != null 
                h4=Result.year
            else
                h4 No year         
        h3 Director:
            if Result.dName != null 
                h4=Result.dName
            else
                h4 No Director
        h3 Actors:
            each actor in Result.actors
                if actor != null
                    ol
                        h4=actor
                else
                    h4 No Actors Listed
        h3 Rotten Tomatoes Audience Reviews:
            if Result.rtAudienceNumReviews != null 
                h4=Result.rtAudienceNumReviews
            else
                h4 No Reviews 
        h3 Rotten Tomatoes Audience Rating:
            if Result.rtAudienceRating != null 
                h4=Result.rtAudienceRating
            else
                h4 No Rating 
        h3 Rotten Tomatoes Top Critic Reviews:
            if Result.rtTopCriticsNumReviews != null 
                h4=Result.rtTopCriticsNumReviews
            else
                h4 No Reviews
        h3 Rotten Tomatoes Top Critic Rating: 
            if Result.rtTopCriticsRating != null 
                h4=Result.rtTopCriticsRating
            else
                h4 No Rating
        h3 Rotten Tomatoes All Critic Reviews: 
            if Result.rtAllCriticsNumReviews != null 
                h4=Result.rtAllCriticsNumReviews
            else
                h4 No Reviews
        h3 Rotten Tomatoes All Critic Rating:
            if Result.rtAllCriticsRating != null 
                h4=Result.rtAllCriticsRating
            else
                h4 No Rating
        input(type="text" name="param" placeholder="Search Parameters" style="padding-left:20px; width: 30%;")
        button(type="submit") Create Comment    